<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- <link href='//fonts.googleapis.com/css?family=Chivo' rel='stylesheet'> -->
    <!-- <script type="text/javascript" src="login.js"></script> -->

    <title>Purple</title>
    <header class="container-fluid">
      Purple
      <h2>Find out where your money goes</h2>
    </header>
</head>
<!--
<div class="logo">
    <img src="/images/logo1.png" alt="logo" style="width:100px;height:100px;">
</div>
<! <div class="logotext">
    <h1>Purple</h1>
    <h5>Find out where your money goes!</h5>
</div> -->

<!--Navigation-->
<!-- <div class="nav">
    <ul>
      <li><a class="active" href="/">HOME</a></li>
      <li><a href="spending">SPENDING</a></li>
      <li><a href="#">BUDGET</a></li>
      <li><a href="#">ABOUT US</a></li>

    </ul>
</div> -->

<!-- <body> -->
<body>

  <div class="container">
   <div class="row">

     <!-- left side -->
      <div class="three" style = "background-color: #f1f1f1;">

        <!-- <img src="/images/logo1.png" alt="logo" style="width:100px;height:100px;"> -->
        <img src="/images/logo1.png" alt="logo" ALIGN = "left"/style="width:50px;height:50px;">
        <h1>Welcome</h1>

        <div class="sidenav">
          <a href="#" class="active">Home</a>
          <a href="about">About us</a>
          <a href="spending">Spending</a>
          <a href="d3">Graph</a>

        </div>

      </div>

           <!-- right side -->
      <div class="nine"  style = "background-color: #dfc5f9 ">{{{body}}}
      </div>
   </div>
  </div>
<!--  -->



<body/>

<div class="container">
   <footer>
   <p>2017 Purple, Inc. </p>
   </footer>
</div>

</html>
