<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!-- <link href='//fonts.googleapis.com/css?family=Chivo' rel='stylesheet'> -->
            <!-- <script type="text/javascript" src="login.js"></script> -->

            <title>Purple</title>
            <header class="container-fluid">
              Purple
              <h2>Find out where your money goes</h2>
            </header>
        </head>

    <body>

              <div class="row">
                         <!-- left side  -->
                <div class="col-3 menu"style = "background-color: #f1f1f1;">
                    <img src="/images/logo1.png" alt="logo" ALIGN = "left"/style="width:60px;height:60px;">
                    <h1>Welcome</h1>
                   <!-- Side Nav -->
                    <div class="sidenav">
                      <a href="about" class="active">Home</a>
                      <a href="about">About us</a>
                      <a href="spending">Spending</a>
                      <a href="bar">Bar Graph</a>
                      <a href="pie">Pie Chart</a>
                    </div>
                  </div>
                       <!-- right side -->
                  <div class="col-9" style = "background-color: #dfc5f9 ">
                          {{{body}}}
                  </div>

              </div>
  <body/>
 <!-- footer -->
   <footer>
   <p>2017 Purple, Inc. </p>
   </footer>

</html>
