<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!-- <link href='//fonts.googleapis.com/css?family=Chivo' rel='stylesheet'> -->
            <!-- <script type="text/javascript" src="login.js"></script> -->

            <header class="container-fluid">
              Purple
              <h2>Find out where your money goes</h2>
            </header>
        </head>
        {{{body}}}
 <!-- footer -->
   <footer>
   <p>2017 Purple, Inc. </p>
   </footer>

</html>
