          <div class="row">
                     <!-- left side  -->
            <div class="col-3 menu"style = "background-color: #f1f1f1;">
                <img src="/images/logo1.png" alt="logo" ALIGN = "left"/style="width:60px;height:60px;">
                <h1>Welcome</h1>
               <!-- Side Nav -->
               <div class="sidenav">
                 <a href="about" class="active">Home</a>
                 <a href="about">About us</a>
                 <a href="spending">Spending</a>
                 <a href="bar">Bar Graph</a>
                 <a href="pie">Pie Chart</a>
                  <a href="login">Sign out</a>
               </div>
              </div>
                   <!-- right side -->
              <div class="col-9" style = "background-color: #dfc5f9 ">

              <title>Bar Graph</title>

              <!-- <!- CSS stylesheet -->
              <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
              <!-- D3.js CDN source -->
              <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>

              <!-- Title -->
              <h1 style="text-align:center;">Your monthly spending</h1>
              <!-- Your D3 code for bar graph -->
              <script type="text/javascript" src="BarGraph.js"></script>

    </div>
  </div>
