<form class="bigbox">

      <h3>Login</h3>
      <div class="smallbox">

          <label><b>Username</b></label>
          <br>
          <input type="text" placeholder="Enter Username" name="uname" required>
          <br>
          <label><b>Password</b></label>
          <br>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <br>
          <input type="checkbox" checked="checked"> Remember me
          <!-- <p>By creating an account you agree to our <a href="#">Terms and Privacy</a>.</p> -->
          <span class="psw">Forgot <a href="#">password?</a></span><br>

    <!-- <input type="submit" class="btn btn-info" value="Sign in"> -->
         <button type="submit">Login</button>
         <br>

         <p>Don't have an account?<a href="#"> Sign up</a></p>

          <!-- <button type="submit" class="signupbtn">Sign Up</button> -->

   </div>

  </form>
