<div class="row">
           <!-- left side  -->
  <div class="col-3 menu"style = "background-color: #f1f1f1;">
      <img src="/images/logo1.png" alt="logo" ALIGN = "left"/style="width:60px;height:60px;">
      <h1>Welcome</h1>
     <!-- Side Nav -->
     <div class="sidenav">
       <a href="about" class="active">Home</a>
       <a href="about">About us</a>
       <a href="spending">Spending</a>
       <a href="bar">Bar Graph</a>
       <a href="pie">Pie Chart</a>
       <a href="#">Sign out</a>
     </div>
    </div>
         <!-- right side -->
    <div class="col-9" style = "background-color: #dfc5f9 ">
    <title>Pie Chart</title>

    <!-- CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- D3.js CDN source -->
  </head>

  <body>
    <!-- Title -->
    <h1 style="text-align:center;">My monthly spending</h1>
    <!-- Your D3 code for bar graph -->
<br>
    <script type="text/javascript" src="pieChart.js"></script>
    <!-- Info -->

        </div>
      </div>
