.logo{
    float:left;
    padding-top: 1px;
    color: black;
    height: 10%;
    width:10%;
}

.logotext{
    display:inline-block;
    color:black;
    width:45%;
    height: 10%;
}
.loginicon{
    display:inline-block;
    text-align: right;
    color:black;
    height:5%;
    width:100%;
}

.nav{
  color: #ffffff;
  background-color: #303030;
  font-style: arial;
  list-style:none;
  text-align: left;
  padding: 3px 3px;
}
/*.nav{

    color: #ffffff;
    background-color: #303030;
    list-style:none;
    text-align: left;

    height: 5%;
    width:40%;
}*/

.nav li{
    display: inline-block;
    padding-right: 25px;
}

.nav li a{
    text-decoration: none;
    color: #ffffff;
    padding: 15px 15px;
}

.nav li a:hover{
    color: grey;
    background-color:#202020;

}
.title{
    display: inline-block;
    height:15%;
}
.budget{
    border:150px;
    height:80%;
}

body {
    /*background-image: url("../images/purple.jpg");*/
  width: 70%;
  margin: auto;
  background: #dfc5f9;
  font-size: 15px;
  font-family: "Courier New", Georgia, Serif;
}
/* heading 3 */
h3 {
  font-size: 1.75em;
}
/* heading 5 */
h5 {
  font-size: 1.25em;
  margin: 10px 0 10px 0;
}
/* site header */
header {
  border-bottom: 1px solid #9973A1;
}
/* site header paragraph */
header p {
  font-size: 1.25em;
  font-style: italic;
  color: #cc00cc;
}
/* site main content category */
main {
  overflow: auto;
  padding: 15px 0 15px 0;
  background-color: 	#663399;
  border-radius: 4px;
}
/* default button style */
button {
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid #dedede;
  cursor: pointer;
}
/* default button hover style */
button:hover {
  background-color: #aaa;
  color: #fff;
    font-family: "Courier New";
}
/* input field for note */
.item-input input {
  width: 40%;
}
/* note controls */
.item-controls {
  width: 70%;
  display: none;
}

section.item-output {
  min-height: 30px;
  border-top:1px dotted #ded1e0;
  margin-top: 5px;
}

section.entry {
  margin-bottom: 5px;

}
/* note paragraph output */
.item-output p {
  margin: 10px;
  padding: 10px;
  cursor:pointer;
}
/* note paragraph output hover */
.item-output p:hover {
  border: 1px solid #932793;
  border-radius: 3px;
}
/* note delete button */
.item-output p button.item-delete {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  border-radius: 0;
  border: 1px solid #dedede;
  cursor: pointer;
}

.total-price {
  border-top: 1px dotted #ded1e0;
  vertical-align: text-bottom;
}
/* site footer */
/*.footer {
  margin-top: 5px;
  border-top: 1px solid #9973A1;
  color: #A9A9A9;
}
 site footer paragraph */
/*.footer p{
  font-size: 0.8em;

}*/


footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.float-right {
  float:right;
}
.inline {
    display: inline;
}
