    /* Set  header */
header{
  background-color: #663399;
  padding: 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
}
h1
{
  color:  #663399;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2{
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

h3
{
  color: 	#663399;
 font-size: 1.75em;
}

h5{
  color: #663399;
  font-size: 1.25em;
  margin: 10px 0 10px 0;
}


/* site footer */
footer {
  background-color: #555;
  color: white;
  padding: 1px;
  font-size: 1em;
}



/*
.row.content {height: 200px}

.sideuser {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;


.right {
  background-color: #dfc5f9;
  height: 100%;
}*/



/*.logo{
    float:left;
    padding-top: 1px;
    color: black;
    height: 10%;
    width:10%;
}

.loginicon{
    display:inline-block;
    text-align: right;
    color:black;
    height:5%;
    width:100%;
}*/


.nav{
  color: #ffffff;
  background-color: #303030;
  font-style: arial;
  list-style:none;
  text-align: left;
  padding: 3px 3px;
}
/*.nav{

    color: #ffffff;
    background-color: #303030;
    list-style:none;
    text-align: left;

    height: 5%;
    width:40%;
}*/

.nav li{
    display: inline-block;
    padding-right: 25px;
}

.nav li a{
    text-decoration: none;
    color: #ffffff;
    padding: 15px 15px;
}

.nav li a:hover{
    color: grey;
    background-color:#202020;

}
.title{
    display: inline-block;
    height:15%;
}
.budget{
    border:150px;
    height:80%;
}
/*
body {


  margin: auto;
  background: #dfc5f9;
  font-size: 15px;
  font-family: "Courier New", Georgia, Serif;
}*/


/* heading 3 */
/*h3 {
  font-size: 1.75em;
}*/
/* heading 5 */
/*h5 {
  font-size: 1.25em;
  margin: 10px 0 10px 0;
}*/
/* site header */

/*header{
  background-color: #663399;
  padding: 1px;
}*/
/* site header paragraph */
/*header p {
  font-size: 1.25em;
  font-style: italic;
  color: #cc00cc;
}*/
/* site main content category */
/*main {
  overflow: auto;
  padding: 15px 0 15px 0;
  background-color: 	#663399;
  border-radius: 4px;
}*/
/* default button style */
/*button {
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid #dedede;
  cursor: pointer;
}

/* default button hover style */
/*button:hover {
  background-color: #aaa;
  color: #fff;
    font-family: "Courier New";
}*/

button {
        background-color: #592b63 ;
        color: white;
        padding: 14px 20px;
        margin: 4px 0;
        border: 1px solid #dedede;
        cursor: pointer;
        width: 15%;
        border-radius: 4px;
        display: inline-block;

    }

button:hover {
        opacity: 0.8;
        }




.cancelbtn {
                padding: 14px 20px;
                background-color: #f44336;
            }

/* input field for note */
.item-input input {
  width: 40%;
}
/* note controls */
.item-controls {
  width: 70%;
  display: none;
}

section.item-output {
  min-height: 30px;
  border-top:1px dotted #ded1e0;
  margin-top: 5px;
}

section.entry {
  margin-bottom: 5px;

}
/* note paragraph output */
.item-output p {
  margin: 10px;
  padding: 10px;
  cursor:pointer;
}
/* note paragraph output hover */
.item-output p:hover {
  border: 1px solid #932793;
  border-radius: 3px;
}
/* note delete button */
.item-output p button.item-delete {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  border-radius: 0;
  border: 1px solid #dedede;
  cursor: pointer;
}

.total-price {
  border-top: 1px dotted #ded1e0;
  vertical-align: text-bottom;
}



.float-right {
  float:right;
}
.inline {
    display: inline;
}

/*
.row{
  height: 500px;

}*/

/*.row.content {height: 200px}*/
/*.col{
  background: #f1f1f1;

  display: inline-block;
float: left;

}*/

.container {
	width: 100%; /*Set the width of the entire website here */
	margin-right: auto;
	margin-left: auto; /* Margin-left and right are set to auto to center the container */
}

.seven:first-child,.eight:first-child, .nine:first-child, .ten:first-child,.eleven:first-child,.five:first-child, .four:first-child, .three:first-child, .two:first-child, .one:first-child, .six:first-child {
	margin-left: 0; /* This line of code makes the left-most column align to the left of the screen */
}

.eleven {
	width: 91.5%;
	float: left;
	margin-left: 2%;
}
.ten {
	width: 83%;
	float: left;
	margin-left: 2%;
}
.nine {
	width: 74.5%;
	float: left;
	/*margin-left: 2%;*/
  height: 800px;

}
.eight {
	width: 66%;
	float: left;
	margin-left: 2%;
}
.seven {
	width: 57.5%;
	float: left;
	margin-left: 2%;
}
.six {
	width: 49%; /* This div spans six columns (the entire row)*/
	float: left;
  /*height: 800px;*/
	/*margin-left: 2%;*/
}
.five {
	width: 40.5%; /* This div spans five columns */
	margin-left: 2%;
	float:left;
}
.four {
	width: 32%;
	float:left;
	margin-left: 2%;
}
.three {
	width: 23.5%;
	float:left;
	/*margin-left: 2%;*/
  height: 800px;

}

.two {
	width: 15%;
	float:left;
	margin-left: 2%;

}
.one {
	width: 6.5%;
	float:left;
	margin-left: 2%;
}
.row {
	width: 100%;
  /*clear: both; /* Clear creates new styles for the next row */*/
	padding: 0px;
	margin: 0px;
}

.signupbtn {
  float: left;
  width:50%
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}



/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.smallbox {
    padding: 20px;
      background-color: #fefefe;
}

.bigbox {
  background-color: #dfc5f9;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: none;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}


/* Set right background color as purple and 100% height */
.right {
  background-color: #dfc5f9;
  height: 100%;
}

input[type=text], input[type=password] {
width: 70%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
        }
