<!DOCTYPE html>
<html>

  <head>
    <!-- meta -->
    <meta charset="utf-8">

    <title>Pie Chart</title>

    <!-- CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- D3.js CDN source -->
  </head>

  <body>
    <!-- Title -->
    <h1 style="text-align:center;">My monthly spending</h1>
    <!-- Your D3 code for bar graph -->
<br>
<h2>Pie Chart</h2>
    <script type="text/javascript" src="pieChart.js"></script>
    <!-- Info -->

  </body>

</html>
